@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #eb560e;
  --color-primary-light: #fb8b53;
  --color-primary-soft: #ffd7c0;
  --color-primary-dark: #c4450c;
}
.btn{
  color: #fff;
  background-color: #eb560e;
  animation: alternate 1s infinite ease-in-out;

}
.btn:hover{
  background-color: #c4450c;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
